.spinner-wrapper {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    z-index: 9999;
}

.spinner-inner-container {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    -webkit-transform: translateY( -50% );
    transform: translateY( -50% );
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 999999;
}